body {
    margin-top: 40px;
}

.slotwrapper {
    overflow: hidden;
    display: inline-block;
    border: 0px solid #000;
    height: 200px;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}
.slotwrapper ul {
    width: 25vmin;  /*  was 165px   */
    height: 45vmin; /* was 150px   */
    /*font-size: 200px;  */
    line-height: 40vmin; /* was 200px   */
    text-align: center;
}
.slotwrapper ul li img {
    vertical-align: top;
    horizontal-align: center;
}


 
